@import "../../variable.scss";
.header-container {
    padding: 10px 0;
    .bg-dark-blue {
        background: $button-background;
        border: 1px solid $light-blue;
        border-radius: 5px;
    }
    .logo {
        width: 9%;
        & img {
            width: 100%;
        }
    }
    .tooltip {
        position: relative;
        display: inline-block;
        margin: 0 12px;
        &:hover span {
            opacity: 1;
        }
        span {
            opacity: 0;
            color: $top-background;
            width: 100px;
            padding: 5px 10px;
            background: $white-color;
            position: absolute;
            border-radius: 6px;
            bottom: -57px;
            right: 0;
            line-height: 24px;
        }
        span:after {
            content: "";
            border-width: 5px;
            position: absolute;
            border-style: solid;
            bottom: 100%;
            right: 4px;
            border-color: transparent transparent $white-color transparent;
        }
    }
}

