.App {
  box-sizing: border-box;
  background: linear-gradient(to bottom, #303F60 40%, #EDF6FF 0%);
  color: #ffffff;
  min-height: 100vh;
}
.main-container-wrapper {
  max-width: 1240px;
  margin: 0 auto;
}
.main-container {
  max-width: 1047px;
  margin: 0 auto;
}